:root {
  --primary-purple: hsl(259, 100%, 65%);
  --primary-red: hsl(0, 100%, 67%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-off-white: hsl(0, 0%, 94%);
  --neutral-light-grey: hsl(0, 0%, 86%);
  --neutral-smoky-grey: hsl(0, 0%, 47%);
  --neutral-charcoal-grey: hsl(0, 0%, 8%);
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--neutral-off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: var(--neutral-white);
  border-radius: 20px 20px 180px 20px;
  padding: 40px;
  width: 500px;
}

.form-group {
  display: flex;
  gap: 10px;
}

.form-group input {
  width: 100px;
  padding: 10px;
  border: 1px solid var(--neutral-light-grey);
  border-radius: 5px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.form-section label {
  font-size: 0.8em;
  font-weight: bold;
}

.form-section label {
  font-size: 0.6em;
  color: var(--neutral-smoky-grey);
  padding-bottom: 5px;
}

.form-button-layer {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.form-button-layer::before {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--neutral-light-grey);
}

.form-group button {
  border: none;
  border-radius: 100%;
  background-color: var(--primary-purple);
  color: var(--neutral-white);
  cursor: pointer;
  padding: 15px;
  margin: 0px;
}

.form-group button:hover {
  background-color: var(--neutral-charcoal-grey);
}

.form-group button img {
  width: 28px;
}

.result {
  margin-top: 0px;
}

.result p {
  font-size: 3em;
  font-weight: bold;
}

.result-value {
  color: var(--primary-purple);
}

.error {
  color: var(--primary-red);
}

.error label {
  color: var(--primary-red);
}

.error input {
  border-color: var(--primary-red);
  color: var(--primary-red);
  font-weight: bold;
}

.error-text {
  color: var(--primary-red);
  font-size: 0.6em;
}

.error-text::before {
  content: "⚠ ";
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 12px;
    padding: 20px;
  }

  .form-button-layer::before {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--neutral-light-grey);
  }

  .form-button-layer::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--neutral-light-grey);
  }

  .form-button-layer button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.attribution {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: var(--neutral-smoky-grey);
}

.attribution a {
  color: var(--primary-purple);
  text-decoration: none;
}
